---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum" description="Siblanco Software Development Impressum">
  <h1 class="font-medium text-3xl">Impressum</h1>
  <h2 class="uppercase text-green">Software Developer</h2>
</Layout>
