---
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
const dummyList = [
  {
    title: "enter the keyboard mounts",
    date: "14. Oktober 2023",
    slug: "enter-the-keyboard-mounts",
  },
  {
    title: "xset r. ohne geht es nicht!",
    date: "11. Mai 2023",
    slug: "xset-r-ohne-geht-es-nicht",
  },
  {
    title: "Einmal bitte 180 Grad",
    date: "23. Dezember 2022",
    slug: "einmal-bitte-180-grad",
  },
];
---

<Layout
  title="Siblanco Software Development | Hassan El Siblani"
  description="Hassan El Siblani, Softwareentwickler aus Göttingen, Deutschland."
>
  <Header title="Hassan El Siblani" subtitle="Software Developer" />

  <section>
    <div class="mb-10 flex justify-between items-end">
      <h2 class="text-xl font-medium sm:text-2xl xl:text-3xl">
        Digitaler Garten
      </h2>
      <a
        href="/blog"
        class="text-green transition-colors duration-150 hover:text-green-200 text-sm sm:text-base xl:text-lg"
        >Alle Beiträge »</a
      >
    </div>

    <ul class="space-y-8">
      {
        dummyList.map((item) => (
          <li>
            <Link
              classes="mb-1"
              slug={`/blog/${item.slug}`}
              label={item.title}
            />
            <span class="block text-sm xl:text-base">{item.date}</span>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
