---
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import FormattedIsoDate from "../components/FormattedIsoDate.astro";

const allBlogPosts = (await getCollection("blog"))
  .filter((post) => !post.data.isDraft)
  .sort(
    (a, b) =>
      Date.parse(b.data.date as unknown as string) -
      Date.parse(a.data.date as unknown as string),
  );

const latestPosts = allBlogPosts.slice(0, 3);
---

<Layout
  title="Siblanco Software Development | Hassan El Siblani"
  description="Hassan El Siblani, Softwareentwickler aus Göttingen, Deutschland."
>
  <Header title="Hassan El Siblani" subtitle="Software Developer" />

  <section>
    <div class="mb-10 flex justify-between items-end">
      <h2 class="text-xl font-medium sm:text-2xl xl:text-3xl">
        Digitaler Garten
      </h2>
      <a
        href="/blog"
        class="text-green transition-colors duration-150 hover:text-green-200 text-sm sm:text-base xl:text-lg"
        >Alle Beiträge »</a
      >
    </div>

    <ul class="space-y-8">
      {
        latestPosts.map(({ data, slug }) => (
          <li>
            <Link classes="mb-1" slug={`/blog/${slug}`} label={data.title} />
            <span class="block text-sm xl:text-base">
              <FormattedIsoDate date={data.date} />
            </span>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
