---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome my friend" description="test">
  <h1 class="font-medium text-3xl mb-0.5">Hassan El Siblani</h1>
  <h2 class="uppercase text-green">Software Developer</h2>
</Layout>
