---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Props {
  title: string;
  subtitle?: string | AstroComponentFactory;
  description?: string;
}

const { title, subtitle, description } = Astro.props;
---

<section class="mb-20 sm:mb-32 xl:mb-48">
  <h1
    class="font-medium text-3xl sm:text-4xl lg:text-5xl xl:text-6xl mb-1.5 sm:mb-2 xl:mb-4"
  >
    {title}
  </h1>
  {
    subtitle && (
      <p class="uppercase text-green sm:text-lg lg:text-xl xl:text-2xl">
        {subtitle}
      </p>
    )
  }
  {
    description && (
      <p class="text-green text-lg sm:text-xl lg:text-2xl xl:text-3xl mt-4 sm:mt-6 xl:mt-8">
        {description}
      </p>
    )
  }
  <slot />
</section>
